---
layout: default
title: Kubernetes Blog
---
	<h1>{{ page.title }}</h1>

	{% for tag in site.tags %}
	<ul class="posts">
	    {{ tag[0] }}
	    {% for post in tag[0] %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="/blog/{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endfor %}
	</ul>
	<ul class="posts">
	    {% for post in tag[1] %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="/blog/{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endfor %}
	</ul>
        <div>
	hier steht noch was
        </div>
