{% extends "!layout.html" %}
{% block extrahead %}
<script type="text/javascript">
//<![CDATA[
var owa_baseUrl = 'https://www.eumelnet.de/owa/';
var owa_cmds = owa_cmds || [];
owa_cmds.push(['setSiteId', '6fb61633eda4674169f979a5c7140d82']);
owa_cmds.push(['trackPageView']);
owa_cmds.push(['trackClicks']);

(function() {
    var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
    owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
    _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
    var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
}());
//]]>
</script>
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e0851ef88092b001215bbc8&product=inline-share-buttons' async='async'></script>
{{ super() }}
{% endblock %}
{% block sidebar1 %}
<div class="sharethis-inline-share-buttons"></div>
{{ super() }}
{% endblock %}
{% block relbar2 %}
<div width="480px"></div>
{% endblock %}
