{% extends "!layout.html" %}
{% block extrahead %}
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e0851ef88092b001215bbc8&product=inline-share-buttons' async='async'></script>
<!-- Start Open Web Analytics Tracker -->
<script type="text/javascript">
//<![CDATA[
var owa_baseUrl = 'https://www.eumelnet.de/owa/';
var owa_cmds = owa_cmds || [];
owa_cmds.push(['setSiteId', '6732b3a1477986bcb95e6bf7a2b4d88e']);
owa_cmds.push(['trackPageView']);
owa_cmds.push(['trackClicks']);

(function() {
    var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
    owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
    _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
    var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
}());
//]]>
</script>
<!-- End Open Web Analytics Code -->
{{ super() }}
{% endblock %}
{% block sidebar1 %}
<div class="sharethis-inline-share-buttons"></div>
{{ super() }}
{% endblock %}
{% block sidebar2 %}
<div width="480px"></div>
{% endblock %}
{% block relbar2 %}
<div id="diigo_linkroll" ><script type="text/javascript" src="https://www.diigo.com/roll2/linkrolls?v=4&username=eumel_8&icon=true&l_type=1&count=10&desc=0&style=standard&title=Weblinks&tags=kubernetes" ></script></div>
{% endblock %}
