<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="http://mobile.bahn.de/bin/mobil/bhftafel.exe/dox?si=8013472&bt=dep&ti=actual&p=1111101&max=7&rt=1&use_realtime_filter=1&start=yes">Mobile Bahninfo</a></li>
        		<li><a href="https://iris.noncd.db.de/wbt/js/index.html?typ=ab&bhf=8013472&bhfname=&zugtyp=&platform=&zeilen=10&paging=1&pagingdauer=60&via=1&impressum=0&style=ab&lang=de&SecLang=">Abfahrtstafel</a></li>
        		<li><a href="https://play.google.com/store/apps/details?id=com.eumelnet.bahn.spreadsheetinput">Bahnumfrage App</a></li>
        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="mailto:bahn-brieselang@gmx.de">email</a></li>
        		<li><a href="https://github.com/bahn-brieselang">github.com/bahn-brieselang</a></li>
			</ul>
			</footer>
		</body>
	</html>
